* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(60deg, #F02FC2 20%, #6094EA);
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 1rem;
  color: white;
}

p {
  max-width: 430px;
  text-align: justify;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}

.container {
  background: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 400px;
  padding: 20px;
  margin: 0 auto;
}

.container-buttons {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}

button {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  min-width: 110px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #e963ca;
  -webkit-box-shadow: 0 5px #6094EA;
          box-shadow: 0 5px #6094EA;
}

button :hover {
  -webkit-box-shadow: 0 3px #6094EA;
          box-shadow: 0 3px #6094EA;
  top: 1px;
}

button :active {
  -webkit-box-shadow: 0 0 #6094EA;
          box-shadow: 0 0 #6094EA;
  top: 5px;
}

#time {
  color: white;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  font-size: 110px;
}

.container-strt-stp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
}

#strt, #stp {
  min-width: 20px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: none;
  background: #efefef;
  -webkit-box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
          box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
  color: #585858;
}

#strt :active, #stp :active {
  -webkit-box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
          box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
}

.form {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
}

.input_field {
  background-color: transparent;
  border-radius: 0;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 3rem;
  padding: 1.25rem 1rem .5rem 1rem;
  border-bottom: 2px solid white;
}

.input_field:focus {
  outline: none;
}

.input_field:focus ::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.input_field:focus ::-moz-placeholder {
  opacity: 1;
  transition-delay: .2s;
}

.input_field::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 02s ease-out;
  transition: opacity 02s ease-out;
}

.input_field::-moz-placeholder {
  opacity: 0;
  transition-delay: opacity .2s ease-out;
}

.input_label {
  position: display;
  color: white;
  font-weight: 600;
}

.input_button {
  height: 30px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: none;
  background: #efefef;
  -webkit-box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
          box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
  color: #585858;
}

.input_button :active {
  -webkit-box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
          box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
}

.title {
  color: white;
  text-align: center;
  margin-top: 1rem;
}
/*# sourceMappingURL=style.css.map */